#main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }
  
#scatter-plot,
#image-gallery {
    border: 2px solid #000;
    border-radius: 1%;
    min-height: 900px; 
}

#canvas{
    height: 100%;
    width: 100%;
}

.img-row{
  display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
width: 99%;

}


.img{
width: 98%;
height: 98%;
  object-fit: contain;
}

.pagination-row{
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

#non-link{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

#non-link a:hover:not(.active) {background-color:transparent;}